$body-color: #f5f2e3;
$nav-background: #bdc4b5;
$modal-button: #704f4f;
$modal-button-text: #fffcec;
$border-color: #604444;
$text-color: #2a1717;
$text-shadow: #000;
$shadow: #bdc4b5;
$h1: #604444;
$shadoww: #fff;


body {
  background: $body-color;
  color: $text-color;
}

.sign-in-message {
  color: $h1;
  font-size: 20px;
  text-align: center;
  text-shadow: .5px .5px 1px $text-shadow;
}

h1 {
  color: $h1;
  font-size: 80px;
  text-align: center;
  text-shadow: 1.25px 1.25px 2px $text-shadow;
}

h3 {
  color: $h1;
  font-size: 40px;
  text-align: center;
  text-shadow: 1.25px 1.25px 2px $text-shadow;
}

p {
  text-align: center;
}

nav {
  background-color: $nav-background;
  border: 2px solid $border-color;
  padding: 6px;
}

.btn-primary {
  background: $modal-button;
  border: 1.5px solid $border-color;
  color: $modal-button-text;
  margin: 5px;
  width: 150px;
}

.crud {
  // clear: right;
  clear: inherit;
  float: left;
}

.display-area {
  height: 300px;
  overflow: auto;
}

.message-area {
  font-weight: bold;
}

.photo {
  align-items: center;
  border: 2px solid $border-color;
  display: block;
  margin: 0 auto;
}
